@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

body {
  background-color: #f3f3f3 !important;
}

/* ---  BANNER  SLIDER --- */

.banner-slider {
  width: 100%;
  overflow: hidden;
  background: #f3f3f3;
  position: relative;
}

.banner-slide {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner-text {
  font-size: 5rem;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  z-index: 1;
  width: 420px;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  font-weight: 100;
  letter-spacing: 2px;
  background-color: transparent;
}

.slick-slider {
  margin: -4px;
}

.banner-slider .custom-prev {
  left: 40px;
}

.banner-slider .custom-next {
  right: 40px;
}

.banner-slider .custom-arrow {
  top: 50%;
}

/* --- ESSENTIALS --- */
.essentials-section {
  background-color: #000000;
  padding: 50px 0;
  text-align: center;
}

.essentials-title {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 2px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 50px;
  position: relative;
  right: 36vw;
}

.essentials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.essentials-item {
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  filter: grayscale(80%);
  transition: filter 0.3s ease;
}

.essentials-item:hover {
  filter: grayscale(0%);
}

.essentials-overlay {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  border-radius: 4px;
}

.comfort-section {
  margin-top: 3vw;
}

.comfort-section h2 {
  color: white;
  font-weight: 100;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
}

.underline1 {
  position: relative;
  left: 455px;
  width: 600px;
  top: 7px;
}

/* --- TOP SELECTIONS --- */
.carousel-slider-wrapper {
  background-color: #000;
  padding: 30px 0px;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  height: 300px;
}

.carousel-slider-wrapper .slick-slide {
  padding: 0 10px;
}

.product-card {
  background-color: transparent;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: 1vw;
  color: white;
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.product-text {
  padding: 12px;
  margin: 0;
}

.product-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.product-text p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #777;
}

.top-selections-btn {
  background-color: #000;
  color: white;
  padding: 1vw 2vw;
  margin: 3vw 0 3vw 43vw;
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.custom-arrow {
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.custom-arrow:hover {
  color: rgba(255, 255, 255, 0.721);
  background-color: rgba(0, 0, 0, 0.548);
  transform: translateY(-50%) scale(1.1);
}

.custom-prev {
  left: 40px;
}

.custom-next {
  right: 40px;
}

/* --- WHY US --- */
.whyus-section {
  color: #fff;
  padding: 60px 5%;
  /* text-align: center; */
}

.whyus-btn {
  position: relative;
  left: 38vw;
  background-color: #000;
  color: white;
  padding: 1vw 4.5vw;
  margin-bottom: 4vw;
  font-size: 16px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.whyus-container {
  background-color: #111;
  width: 1200px;
  height: 650px;
  margin-left: 80px;
}

.whyus-content {
  display: flex;
  justify-content: space-between;

}

.whyus-description {
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.whyus-description p {
  width: 520px;
  margin-left: 120px;
  margin-top: 85px;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 1.5px;
  font-size: 16px;

}

.whyus-image {
  margin: 0 auto auto 75px;
}

.whyus-image img {
  position: relative;
  width: 330px;
  border-radius: 8px;
  height: 195px;
  top: 5vw;
  left: 25px;
}

.whyus-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50vw;
}

.whyus_column {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  height: auto;
  margin-left: 110px;
}

.feature {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 1.3rem;
  display: flex;
  letter-spacing: 3px;
  margin-top: 25px;

}

.underline2 {
  width: 360px;
}



/* --- TABLET (600px to 1024px) --- */
@media (max-width: 1024px) and (min-width: 600px) {

  html,
  body {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .banner-slider {
    height: auto;
    margin-top: 0;
  }


  .banner-text {
    text-align: right;
    width: 380px;
    font-size: 100px;
    right: 5%;
  }

  .essentials-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
  }

  .essentials-title {
    right: 0;
    text-align: center;
    margin-bottom: 30px;
  }

  .comfort-section {
    margin-top: 60px;
  }

  .underline1 {
    left: 90px;

  }

  .top-selections-btn {
    margin: 3vw auto;
    display: block;
  }
/* 
  .carousel-slider-wrapper {
    height: auto;
  } */

  .product-card img {
    height: 160px;
  }

  .whyus-btn {
    left: 0;
    display: block;
    margin: 0 auto 3vw;
  }

  .whyus-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .whyus-content{
    width: 640px;
    flex-direction: row;
    align-items: center;
  }

  .whyus-description p {
    width: 60%;
    margin: 60px 0 0 50px;
  }

  .whyus-image{
    margin: 0;
  }

  .whyus-image img {
    width: 150px;
    height: auto;
    margin: 20px auto;
    display: block;
    position: static;
  }

  .whyus-features {
    width: 60%;
    margin: 20px 0;
  }

  .whyus_column {
    width: 100%;
    margin-left: 50px;
  }

  .underline2 {
    width: 325px;
    margin: 10px 0;
  }
}

/* --- MOBILE (less than 600px) --- */
@media (max-width: 599px) {

  html,
  body {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .banner-text {
    font-size: 60px;
    right: 15px;
    color: #ffffff;
    top: 485px;
    width: 298px;
  }

  .slick-slider{
    margin: -5px;
  }

  .custom-arrow {
    display: none;
  }

  .essentials-grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }

  .essentials-item {
    height: 150px;
  }

  .essentials-overlay {
    /* background: transparent; */
    font-size: 12px;
    font-weight: 900;
  }

  .essentials-title {
    right: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .comfort-section {
    margin-top: 50px;
  }

  .comfort-section h2 {
    color: white;
    font-weight: 100;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 17px;
  }

  .underline1 {
    position: relative;
    width: 200px;
    left: 100px;
    top: 0px;
  }

  .product-card img {
    height: 140px;
  }

  .top-selections-btn {
    margin: 3vw auto;
    display: block;
    padding: 10px 20px;
    font-size: 14px;
  }

  .whyus-btn {
    left: 0;
    display: block;
    margin: 0 auto 2vw;
    padding: 10px 20px;
    font-size: 14px;
  }

  .whyus-container {
    width: 95%;
    height: auto;
    margin: 0 auto;
  }

  .whyus-content {
    flex-direction: column;
  }

  .whyus-description p {
    width: 90%;
    margin: 40px auto 0 auto;
  }

  .whyus-image {
    margin: 0;
  }

  .whyus-image img {
    width: 300px;
    margin: 0;
  }

  .whyus-features {
    width: 75%;
    margin-left: 20px;
  }

  .feature {
    font-size: 18px;

  }

  .whyus_column {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    margin: 0;
  }

  .underline2 {
    width: 90%;
    margin: 20px auto;
  }

}